:root{
    --contornos: #B4E1FD;
    --contorno-oscuro: #7FC0FC;
    --contorno-azul: #22062f;
    --paraprevia-font: #0E0A30

}
*{
    background: var(--contorno-azul);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
header h1{
    color: var(--contornos);
    letter-spacing: 25px;
}

input, select{
    border-radius: 5px;
    border: solid 1px var(--contorno-oscuro);
    box-shadow: 1px 1px 3px var(--contornos);
    height: 20%;
    color: var(--contorno-oscuro);
    min-width: 295px;

}
#input-dir{
    border-radius: 3px;
    color: var(--contorno-oscuro);

}
#input-dir::placeholder{
    color: var(--contorno-oscuro);
    padding-left: 5px;
}
#input-dir:focus{
    background: var(--contorno-azul);
}
#observations{
    border-radius: 5px;
    border: solid 1px var(--contorno-oscuro);
    box-shadow: 1px 1px 3px var(--contornos);
    height: 15%;
    color: var(--contorno-oscuro);
    padding: 5px;
}

/*section*/

.container{
    width: 100%;
    margin-top: 5vh;

}

.container-form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*div para los input/select*/

.container-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 250px;
}

.add-buttom{
    height: 50px;
    color: var(--contorno-oscuro);
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--contornos);

    padding: 15px;
}
.card-ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
.card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 20%;
    min-width: 290px;
    margin: 20px ;
    padding: 30px;
    border-radius: 3px;
    border: solid 1px var(--contorno-oscuro);
    box-shadow: 1px 1px 3px var(--contornos);
}
.clientDatos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color:#7FC0FC;
}
.clientDatos li{
    margin: 5px 15px;
}
.clientElectro{
    display: flex;
    justify-content: space-around;
    color:#7FC0FC;
}
.delete-btn{
    color: #7FC0FC;
}
.card-observation{
    color: var(--contorno-oscuro);
}
@media (max-width:1100px) {

    .container-form{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0 5%;
    }
    .container-div{
        width: 100%;
    }
    #observations{
        width: 100%;
    }

}
@media(max-width: 540px ){
    header h1{
    width: 100%;
    letter-spacing: 13px;
    display: flex;
    justify-content: center;
    }
    .add-buttom{
        width: 100%;
    }
}
@media (max-width: 400px) {
    header h1{
        letter-spacing: 10px;
        font-size: 25px;
        }
}